<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body class="intro-header">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border:2px solid rgb(130, 231, 83);">
      <div class="container">
        <a class="navbar-brand" href="#/main">Appreciation is an art!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#/main">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/redeem" class="nav-link">Spend My Credits</a>
                  </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Logout</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-md-6">
      <div id="creditRadio" (change)="onSelectionChange($event)">
        
            <label style="padding-left:7px;"><input id="radioGiven" type="radio" value="HistoricalGiven" name="recognitionType">HistoricalGiven</label>
       
        
            <label style="padding-left:7px;"><input id="radioEarned" type="radio" value="HistoricalEarned" name="recognitionType">HistoricalEarned</label>
     
        <div *ngIf="historyType" class="text-center" style="color: rgb(117, 231, 117)">Successfull submission!</div>
       
        
        <!-- <div class="radio disabled">
            <label><input type="radio" name="optradio" disabled>Option 3</label>
        </div> -->
    </div>
  </div>
  <table *ngIf="HistoricalGiven"  [style.width.%]="70" align="center">
          <thead>
          <th>Nominee</th>
          <th>Nominee Type</th>
          <th>Credit Amount</th>
          <th>Credit Type</th>
          <th>Recognition Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let recognition of HistoricalGiven">
            <td>{{recognition[0]}}</td>
            <td>{{recognition[1]}}</td>
            <td>{{recognition[2]}}</td>
            <td>{{recognition[3]}}</td>
            <td>{{recognition[4]}}</td>               
          </tr>
          </tbody>
        </table>
      
     
          <table *ngIf="HistoricalEarned" [style.width.%]="70" align="center">
          <thead>
          <th>Nominator</th>
          <th>Nominee Type</th>
          <th>Credit Amount</th>
          <th>Credit Type</th>
          <th>Recognition Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let recognition of HistoricalEarned">
            <td>{{recognition[0]}}</td>
            <td>{{recognition[1]}}</td>
            <td>{{recognition[2]}}</td>
            <td>{{recognition[3]}}</td>
            <td>{{recognition[4]}}</td>             
          </tr>
          </tbody>
        </table>
  <!-- <html lang="en">
    <!-Header-->
    <header >
      <div class="container">
        <div class="intro-message">
        </div>
      
      </div>
    </header>

  </body>
</html>