<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Appreciation Tool</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body class="intro-header">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="border:2px solid rgb(130, 231, 83);">
      <div class="container">
        <span class="navbar-brand" href="#/main">Appreciation is an art!</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a routerLink="/main" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/history" class="nav-link">Recognition History</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Hello, {{firstName}}!</h1>
        </div>
      </div>
      <div class="container" [hidden]="submitted">
              <div *ngIf="roleId === '2'">
              <h5>Your Team Balance to use:</h5>
              <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Credit Type</th>
                      <th>Available Credits</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let teamCredit of teamCreditsList">
                    <tr>
                      <td>{{teamCredit.creditName}}</td>
                      <td>{{teamCredit.creditEarnedBalance}}</td>
                    </tr>
                  </tbody>   
              </table> </div>
           <h5>Your avaiable Balance to use:</h5>
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Credit Type</th>
                    <th>Available Credits</th>
                  </tr>
                </thead>
                <tbody *ngFor="let empCredit of empCreditsList">
                  <tr>
                    <td>{{empCredit.creditName}}</td>
                    <td>{{empCredit.creditEarnedBalance}}</td>
                  </tr>
                </tbody>   
            </table> <br/> 
            <div *ngIf="roleId === '2'">
              <form #f="ngForm" >
              <h6> Please Let Us know which Credits you want to use <br/><br/>
              <span class="radioDispaly"><input type="radio" value="Team" name="typeOfCreditsToRedeem" [(ngModel)]="typeOfCreditsToRedeem" (ngModelChange)="creditId()"> Team </span>
              <span><input type="radio" value="Personal" name="typeOfCreditsToRedeem" [(ngModel)]="typeOfCreditsToRedeem"> Personal</span></h6>
            </form> <br/>
          </div>
          <form #redeemForm="ngForm" name="redeemCredits" (ngSubmit)="redeemCredits($event)">  
            <label class="" for="textinput">Select Which Credits you want to Redeem today</label> <br/>        
            <select id="creditId" required name="creditType" [(ngModel)]="selectedCredit" (ngModelChange)="creditId()">
              <option [ngValue]="undefined" [disabled]="true" [selected]="true">Select an Option</option>
              <option [ngValue]="item" *ngFor="let item of creditList">{{item.creditName}}</option>
            </select> <br/> <br/>
            <label class="" for="textinput">What would you like to get today</label> <br/>
            <select id="awardId" name="awardType" required [(ngModel)]="selectedAward">
              <option [ngValue]="undefined" [disabled]="true" [selected]="true">Select an Option</option>
              <option [ngValue]="award" *ngFor="let award of awardsList" >{{award.awardName}} - {{award.creditCost}}</option>
            </select> <br/> <br/>
            <div *ngIf="messageOn" class="text-center" style="color: rgb(117, 231, 117)">Successfull submission!</div>
            <button class="btn btn-success"  id="redeemSubmit" type="submit" [disabled]="!redeemForm.form.valid">Submit</button> 
            <a routerLink="/main"><button class="btn btn-secondary" id="redeemCancel">Cancel</button> </a>
        </form>
	  </div>
    </header>
  </body>
</html>
