
<div>
<label for="filter">Nominee</label>
<input type="text" class = "optional-border" name="search" id="search" [(ngModel)]="searchValue" placeholder="Search person/team.."/>
<span>Your Selection--> </span>
<label id="selection" type="text" class="border" style="padding:5px;" >{{yourSelection}}</label>
<!--  table starts -->
<table *ngIf="!(searchValue==='')" class="table table-striped" data-toggle="" id="reimbursementHistory" >
  <thead>
    <tr>
      <th>Entity</th>
      <th>ID</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody *ngFor = "let row of combinedList">
      <tr (click)="makeSelection($event)"
                          *ngIf="(row[0]=== searchValue) ||
                                (row[1]=== searchValue) ||
                                (row[2]=== searchValue) ||
                                (row[3]=== searchValue) ||
                                (row[4]=== searchValue) ||
                                (row[5]=== searchValue)">
        <td><a href="javascript:void(0)" style="color:aqua">{{row[0]}}</a></td>
        <td><a href="javascript:void(0)" style="color:aqua">{{row[1]}}</a></td>
        <td><a href="javascript:void(0)" style="color:aqua">{{row[2]}}</a></td>
        <td><a href="javascript:void(0)" style="color:aqua">{{row[3]}}</a></td>
        <td><a href="javascript:void(0)" style="color:aqua">{{row[4]}}</a></td>
        <td><a href="javascript:void(0)" style="color:aqua">{{row[5]}}</a></td>
    </tr>
  </tbody>
</table>
</div>